*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/** nav bare */
body{
    font-family: Arial, Helvetica, sans-serif;
}

i{
    cursor: pointer;
}
.navBare{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #CCDBDC;
    padding: 25px 60px;
    color: black;
    margin-bottom: 30px;

}
.cart{
    position: relative;
    background: white;
    font-size: 30px;
    padding: 5px;
    border-radius: 5px;
}
.cartAmount{
    position: absolute;
    top: -15px;
    right: -10px;
    font-size: 20px;
    background-color: red;
    color: white;
    border-radius: 5px;
    
}
 /** shop items styles are here */
.shop{
    display: grid;
    grid-template-columns: repeat(4, 223px);
    gap: 30px;
    justify-content: center;
}
 @media (max-width: 1000px){
    .shop{

    grid-template-columns: repeat(2, 223px);
    }
 }
 @media (max-width: 500px){
    .shop{
    grid-template-columns: repeat(1, 223px);
    }
 }


.item{
    border: 2px solid black;
    border-radius: 4px;
}
img{
    overflow: hidden;
}

.details{
    display: flex;
    flex-direction: column;
    padding: 10px;

}

.price-quantity{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.buttons{
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 20px;
    padding: 5px;
}
.bi-bag-dash-fill{
    color: red;
}
.bi-cart-plus-fill{
    color: green;
}